{% load static %}
{% block css%}
        <!--==============================
	    All CSS File
	============================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="assets/css/app.min.css"> -->
    <!-- Fontawesome Icon -->
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <!-- Layerslider -->
    <link rel="stylesheet" href="{% static 'css/layerslider.min.css' %}">
    <!-- jQuery DatePicker -->
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}">
    <!-- Slick Slider -->
    <link rel="stylesheet" href="{% static 'css/slick.min.css' %}">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock%}