{% load static %}
{% block javascript %}
        <!-- JAVASCRIPT -->
    <script src="{% static '/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <!-- Slick Slider -->
    <script src="{% static 'js/slick.min.js' %}"></script>
{#    <script src="{% static '/js/app.min.js' %}"></script>#}
    <!-- Layerslider -->
    <script src="{% static 'js/layerslider.utils.js' %}"></script>
    <script src="{% static 'js/layerslider.transitions.js' %}"></script>
    <script src="{% static 'js/layerslider.kreaturamedia.jquery.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- jQuery Datepicker -->
    <script src="{% static 'js/jquery.datetimepicker.min.js' %}"></script>
    <!-- Magnific Popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Isotope Filter -->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <!-- Parallax Scroll -->
    <script src="{% static 'js/universal-parallax.min.js' %}"></script>
    <!-- WOW Animation -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- Custom Carousel -->
    <script src="{% static 'js/vscustom-carousel.min.js' %}"></script>
    <!-- Form Js -->
    <script src="{% static 'js/ajax-mail.js' %}"></script>
    <!-- Main Js File -->
    <script src="{% static 'js/main.js' %}"></script>

        <!-- App js -->
{% endblock %}